*{
  box-sizing: border-box;
  
}

body{
  overflow: hidden;
}
.comtainer{
  position: relative;
  margin: 0 auto;
  height: 512px;
  width: 900px;
  
}

.bg{
  position: relative;
  height: auto;
  width: 900px;
  margin-left:100px;
  margin-top: 30px;
}

.sub-container{
  height: auto;
  width: 900px;
  position: relative;
  top: -630px;
}

.head-wrap>h1{
  color: #967070;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  position: relative;
  top: 50px;
  left: 35%;
  letter-spacing: 10px;
} 
.head-wrap>p{
  color: #967070;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 50%;
}

.body-wrapper>h2{
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  position: relative;
  left: 50%;
  top: 70px;
}
.body-wrapper>p{
  /* font-family: 'Sacramento', cursive; */
  font-size: 20px;
  position: relative;
  left: 20%;
  top: 40px;
}


.side-body>p{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

.date{
position: relative;
top: 60px;
left: 34%;

}

.signature{
position: relative;
bottom: 160px;
left: 78%;
}
/*div for logo and verified text*/
.verified-text{
  position: relative;
  top: 10px;
  left: 40%;

}
.verified-text>p{
  font-family: 'EB Garamond', serif;
  font-size: 10px;
}
.logo{
  width: 200px;
  height: auto;
  position: relative;
  bottom: -10px;
  left: 50%;
}
